.NewPokemon{
    justify-content: center;
    border:solid 2px black;
    background: rgba(0, 0, 0, 0.609);
    padding-bottom: 20px;
    border-radius: 10px;
}

.stats{
    display:grid;
    grid-template-columns: 35% 35%;
    column-gap: 2rem;
    justify-content: center;
}

.name{
    font-size: 30px;
    font-family: 'Girassol', cursive;
    background: linear-gradient(rgb(92, 87, 87), rgba(14, 120, 124, 0.52));
    letter-spacing: 5px;
    color: orange;
    text-shadow: 1px 1px 2px black;
    border-radius: 10px;
}


#statHeader{
    background: none;
}

.input{
}

.container{
    margin: 20px 10rem
}

.box{
    border: solid 2px rgb(212, 109, 13);
    background: linear-gradient(rgb(92, 87, 87), rgba(14, 120, 124, 0.52));
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(212, 109, 13);
    margin-bottom: 15px;
}

.tyButtons{
    display: flex;
}
.bgbutton{
    width: 200px;
    height: 60px;
    color: #ebd724;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 0;
    border: none;
    border-top: 2px solid #ebd724;
    border-bottom: 2px solid #ebd724;
    outline: none;
    background: transparent;
    transition: 0.5s;
    border-radius: 7px;
    margin-right: 15px;
}

.bgbutton:hover {
    box-shadow: 0 0 5px #ebd724,
                 0 0 10px #ebd724,
                 0 0 30px #ebd724,
                 0 0 60px #ebd724,
                 0 0 120px #ebd724;
    background: #ebd72400;
    color: rgb(255, 255, 255);
}
.bgbutton:last-child {
    border-top-color: #ebd724;
    border-bottom-color: #ebd724;
    color: #ebd724;
}
.bgbutton:last-child:hover {
    box-shadow: 0 0 5px #ebd724,
                0 0 10px #ebd724,
                0 0 30px #ebd724,
                0 0 60px #ebd724,
                0 0 120px #ebd724;
    background: #ebd72400;
    color: rgb(255, 255, 255);
}


.sign{
    font-weight: bold;
    line-height: 0.1;
}

.tyButtons{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    padding-bottom: 30px;
}

.off:last-child{
    
}

.on:last-child{
    box-shadow: 0 0 5px #ebd724,
    0 0 10px #ebd724,
    0 0 30px #ebd724,
    0 0 60px #ebd724,
    0 0 120px #ebd724;
background: #ebd72400;
color: rgb(255, 255, 255);
}

#submit{
    color: rgb(245, 81, 16);
    border-top-color: rgb(245, 81, 16);
    border-bottom-color: rgb(245, 81, 16);
}

#submit:hover{
    box-shadow: 0 0 5px rgb(245, 81, 16),
    0 0 10px rgb(245, 81, 16),
    0 0 30px rgb(245, 81, 16),
    0 0 60px rgb(245, 81, 16),
    0 0 120px rgb(245, 81, 16);
background: #ebd72400;
color: rgb(255, 255, 255);
}


.bar{
    border-radius: 5px;
    padding: 5px 0;
    margin-top: 5px;
    margin-bottom: 10px;
    border: solid 2px rgb(212, 109, 13);
    box-shadow: 5px 5px 5px rgb(212, 109, 13);
}